extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner WHAT IS BYTE
        div.Message
            div.Title
                h3 Making the Best
                h1 Reviews For Devs
            span.Details Access the WHAT IS BYTE Team Portal
        div.NavButtons
            a(href="/user")
                div.NavButton Just dive in!